<div class="center hero-unit">
	<h1>From Me To You - Help</h1>	

	<h3>Getting started is super easy: </h3>
	<p>Create a project and choose a due date</p>
	<p>Create any number of tasks for that project</p>
	<p>Assign those tasks to individual members of your team</p>


	
	<%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %>  
	<%= link_to 'Log in', login_path, class: "btn btn-large btn-success" %>
</div>
