<div class="center">
	<h1>From Me To You - Help</h1>

	<h4>Team projects managed, tracked and reported with ease</h4>
	
	<p>Help</p> 
	
	<%= link_to 'Sign up', signup_path, class: "medium secondary button round" %>
	
	<%= link_to 'Log in', login_path, class: "medium success button round" %>
</div>
