<div class="center hero-unit">
	<h1>From Me To You</h1>

	<h4>Team projects managed, tracked and reported with ease</h4>
	
	<p class="font">Create a project, create the tasks that make up that project.</p> 
	
	<p class="font">Assign those tasks to team members and track there progress.</p>
	
	<p class="font">Simple uploading means that you can share whatever ever you need with the team.</p>
	
	<p class="font">Twitter like chat means everyone is on the same page (and project).</p></br>
	<div class="home_page_buttons">
		<%= link_to 'Sign up', signup_path, { class: "default-buttons signup" } %>  <%= link_to 'Log in', login_path, class: "default-buttons login" %>
	</div>
</div>