<h1>From Me To You</h1>
<h4>Team projects managed, tracked and reported with ease</h4>
<p>Create a project, create the tasks that make up that project.</p> 
<p>Assign those tasks to team members and track there progress.</p>
<p>Simple uploading means that you can share whatever ever you need with the team.</p>
<p>Twitter like chat means everyone is on the same page (and project).</p>
<%= link_to 'Sign up', signup_path, class: "medium secondary button round" %>
<%= link_to 'Log in', login_path, class: "medium success button round" %>
