<div class="center jumbotron">
	<h1>From Me To You <small>Project management done with elegance & ease.</small></h1>
  <p>Create a project, create the tasks that make up that project.</p>
  <p class="center"><%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %>  
	<%= link_to 'Log in', login_path, class: "btn btn-large btn-success" %></p>
</div>

