<div class="center hero-unit">
	<div class="page-header">
		<h1>From Me To You <small>Project management done with elegance & ease.</small></h1>
	</div>
	<p>Create a project, create the tasks that make up that project.</p></br>
	<p>Assign those tasks to team members and track there progress.</p></br>
	<p>Simple uploading means that you can share whatever ever you need with the team.</p></br>
	<p>Twitter like chat means everyone is on the same page (and project).</p></br>
	
	<%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %>  
	<%= link_to 'Log in', login_path, class: "btn btn-large btn-success" %>
</div>
