<div class="center hero-unit">  
  <h1>Welcome back</h1></br>
  <%= form_tag sessions_path do %>

    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <%= text_field :email, { type: "email", id: "inputEmail" } %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Password</label>
        <div class="controls">
          <%= password_field :password, { type: "password", id: "inputPassword" } %>
        </div>
      </div>
    <div class="control-group">
      <div class="button">
        <%= submit_tag "Sign in", { class: "default-buttons login-button" } %>
      </div>
    </div>
    <% end %>
      <p>You should bookmark this page for faster access in the future</p>
  </div>
</div>