<div class="center">
	<div class="page-header">
		<h4>Dashboard<small> Current Projects on the go.</small></h4>
	</div>
	<div class="projects" id="incomplete_projects">
		<% @projects.each do |project| %>
			<div class="alert alert-block">
	      <h4><%= link_to project.title, user_projects_path(@project), html: { class: "btn btn-large pull-right" } %></h4>
	       <p><%= project.objective %></p>
	       <p><%= project.due_date %></p>
	    </div>
		<% end %>
	</div>
</div>