<div class="center">
	<div class="page-header">
		<h4>Dashboard<small> Current Projects on the go.</small></h4>
	</div>
	<div class="projects">
		<% @projects.each do |project| %>
			<div class="page-header">
			  <h4><%= link_to project.title, project_path(project) %> | <small><%= project.objective %></small> | <small><%= project.due_date %></small></h4>
			</div>
		<% end %>
	</div>
</div>

