<div class="page-header center">
	<h4>Dashboard<small> Current Projects on the go.</small></h4>
</div>
<% if @projects.count == 0 %>
  <h2 class="center">Getting started with a new project is one click away.</h2></br>
	<%= link_to "Let's get started with a project", new_project_path, { class: "btn btn-large btn-block btn-info" } %>
<% else %>
	<% @projects.each do |project| %>
		<div class="alert alert-success">
		  <h4><%= link_to project.title, project_path(project) %>
		  	<%= link_to "Remove Project", project_path(project), { class: "btn pull-right", confirm: 'Are you sure?', method: :delete } %>
		  </h4>
		  <p><%= project.due_date.strftime("%Y-%d-%m") %></p>
		</div>
	<% end %>
<% end %>



