<div class="center">
	<div class="page-header">
		<h4>Feeder<small> Insert Team Name</small></h4>
	</div>
	<div class="span3 well">
    <form accept-charset="UTF-8" action="" method="POST">
        <textarea class="span3" id="new_message" name="new_message"
        placeholder="Type in your message" rows="6"></textarea>
        <button class="btn btn-info" type="submit">Post New Message</button>
    </form>
</div>
</div>
