<div class="page-header">
	<h4>Notes:<small> Insert Team Name</small></h4>
</div>
<h5>Current Team Conversation</h5>
<textarea class="form-control" rows="6"></textarea>
	<%= button_to "Submit", '#', { class: "btn btn-primary navbar-btn btn-small pull-right" } %>

