<div class="dashboard">
	<div class="page-header">
		<h4>Dashboard<small>   Current Projects on the go.</small></h4>
	</div>
	<div class="projects" id="incomplete_projects">
		<% @projects.each do |project| %>
		<ul>
			<ol><strong><%= project.title %></strong></ol>
			<ol><%= project.objective %></ol>
			<ol><%= project.due_date %></ol>	
		</ul>
		<% end %>
	</div>
</div>