<%= link_to "Create a new project!", new_user_project_path(@user), id: "new_link", remote: true	 %>

<h2>Projects on the Go!</h2>
<div class="projects" id="incomplete_projects">
	<% @projects.each do |project| %>
	<p>
		<%= project.title %>
	</p>
	<% end %>
</div>
