</br>

<%= link_to "Create a new project!", new_user_project_path(@user), class: "medium button success round" %></br>

<% @projects.each do |project| %>
  <div class="container">
		<h2><%= project.title %></h2>
		<p><em>Objective: </em><%= project.objective %></p>
		<p><em>Due Date:</em> <%= project.due_date %></p>
	</div>
<% end %>