<div class="row">
  <div class="span3">
  	<%= render 'users/left_user_show' %>
  </div>
  <div class="span6">
  	<%= render 'users/center_user_show' %>
  </div>
  <div class="span3">
  	<%= render 'users/right_user_show' %>
  </div>
</div>