<div class="row">
  <div class="col-lg-3">
  	<%= render 'users/left_user_show' %>
  </div>
	<div class="col-lg-6">  	
		<%= render 'users/center_user_show' %>
  </div>
	<div class="col-lg-3">  	
		<%= render 'users/right_user_show' %>
  </div>
</div>