<%= form_for @invitation do |f| %>
  <div class="field"> 
		<%= f.label :recipient_email, "Email you like to invite?" %>
		<%= f.text_field :recipient_email %></br>
	</div>

  <div class="action"> 
		<%= f.submit "Send Invite!" %>
	</div>
<% end %>