<div class="hero-unit">
	<h1><%= @project.title %></h1>
	<h3><%= @project.objective %></h3>
	<div class="actions">
		<%= link_to 'Todo for this project', new_user_project_task_path(@user, @project) %>
	</div>
</div>

