<div class="nested-fields" id="individual-form-elements-override">
	<div class="field">
	  <%= f.label :email %>
	  <%= f.text_field :email, { class: "form-control" } %>
	  <%= f.hidden_field :team_id, value: @team.id %>
	</div>
  <%= link_to_remove_association "-", f %>
</div>

