// This is for sticky footer

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

// End of sticky footer

img {
	border-radius: 90px;
	height: 120px;
	width: 120px;
}