<div class="user-left-side">
	<div class="user-left-controls">
		<div class="page-header">
			<h4>Feeder<small> Team Chat</small></h4>
		</div>

		<div class="span3 well">
		  <form accept-charset="UTF-8" action="" method="POST">
		    <textarea class="span3" id="new_message" name="new_message"
		    placeholder="Messages posted here will be visible to your team." rows="5"></textarea>
		    <h6 class="pull-right">320 characters remaining</h6>
		    <button class="btn btn-info" type="submit">Post New Message</button>
		  </form>
		</div>
	</div>
</div>